**pyc
**swp
**__pycache__
**venv
**config.py
**.cache

# macOS-specific files
.DS_Store

#PyCharm project configuration files
.idea

# Compiled python modules.
*.pyc

# Setuptools distribution and build folder.
/dist/
/build/

/*.egg-info
/*.egg

# Sphinx build
docs/_build
docs/_static

# tox venvs
.tox
.python-version

# coverage outputs
.coverage
htmlcov/

# Output from tests
*pdf

# ELN entries
[0-9].txt
[0-9][0-9].txt
[0-9][0-9][0-9].txt
[0-9]_[0-9].txt
[0-9][0-9]_[0-9].txt
[0-9]_[0-9][0-9].txt
[0-9][0-9]_[0-9][0-9].txt
[0-9]_[0-9][0-9][0-9][0-9].txt
[0-9][0-9]_[0-9][0-9][0-9][0-9].txt
dokuwiki/data/media/labbook/*

data-bkp
#_dummy 
dokuwiki/data/cache/*
dokuwiki/data/attic/*
dokuwiki/data/meta/*
!dokuwiki/data/meta/data.sqlite3
!dokuwiki/data/meta/sqlite.sqlite3
dokuwiki/data/media_attic/*
dokuwiki/data/media_meta/*
dokuwiki/data/tmp/*
dokuwiki/data/log/*
dokuwiki/data/locks/*
dokuwiki/data/index/*
